@import 'assets/scss/mixin.module';
@import 'assets/scss/fonts.module';

.backgroundColor {
  background-color: #f16f23;
  height: fit-content;

  .wrapperBox {
    margin-bottom: 25px;
    padding: 35px 50px 40px;

    @include Responsive(L) {
      padding: 35px 50px 40px;
    }

    @include Responsive(M) {
      height: fit-content;
      padding: 20px;
    }

    @include Responsive(S) {
      font-size: 14px;
    }
    .name {
      font-family: 'reforma', sans-serif;
      font-size: 25px;
      font-weight: bold;
      color: white;
      letter-spacing: 2px;

      @include Responsive(S) {
        font-size: 18px;
      }
    }

    .boxSearch {
      position: relative;

      @include Responsive(S) {
        display: block;
        width: 100%;
        margin: 30px auto 0;
      }

      label {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: white;

        i {
          font-size: 18px;
        }
      }

      input {
        width: 100%;
        padding: 1.5em 3em 1.5em 1.5em !important;
        background-color: #f78b4b;
        color: white !important;
        border: none;

        &::placeholder {
          color: white;
          font-size: 18px;
        }

        &:focus-visible {
          outline: 0 !important;
        }
      }
    }
  }
}
