@import 'assets/scss/fonts.module';
@import 'assets/scss/mixin.module';

.banner {
  .picBanner {
    margin: 0;
    position: relative;
    color: white;

    img {
      @include Responsive(S) {
        min-height: 100px;
      }
    }

    .titleBanner {
      position: absolute;
      top: 25%;
      left: 20%;
      font-family: 'reforma', sans-serif;
      font-size: 55px;
      font-weight: bold;

      @include Responsive(M) {
        font-size: 30px;
      }

      @include Responsive(S) {
        font-size: 25px;
      }

      @include Responsive(XXS) {
        font-size: 18px;
      }

      .subTitleBanner {
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'renner';
        font-weight: bold;
        letter-spacing: 3px;
        margin-top: 20px;
        transition: 0.5s;
        z-index: 2;

        @include Responsive(M) {
          font-size: 11px;
        }

        @include Responsive(S) {
          font-size: 12px;
          margin-top: 10px;
        }

        @include Responsive(XXS) {
          font-size: 8px;
        }

        a {
          transition: 0.5s;

          &:hover {
            cursor: pointer;
            color: #f16f23;

          }
        }

        i {
          font-style: normal;
          opacity: 0.6;
        }
      }
    }
  }
}