@import 'assets/scss/mixin.module';

.event {
  padding-bottom: 130px;

  @include Responsive(S) {
    padding-bottom: 50px;
  }

  .titleEvent {
    font-family: 'Reforma', sans-serif;
    font-size: 3.556rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.45em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 0.87em;
    color: black;
    text-align: center;
    padding-top: 60px;

    @include Responsive(L) {
      font-size: 2.0rem;
      padding-top: 80px;
    }

    @include Responsive(S) {
      font-size: 2.0rem;
      padding-top: 20px;
    }

    .seeComingEvent {
      font-size: 0.778rem;
      line-height: normal !important;
      font-style: normal !important;
      text-transform: uppercase !important;
      letter-spacing: 0.08rem !important;
      color: #f16f23;
      font-weight: 700;

      @include Responsive(L) {
        font-size: 0.678rem;
      }
    }
  }

  .dateEvent {
    display: flex;
    align-items: flex-start;
    padding: 50px 40px;
    background-color: #fff;
    margin-bottom: 5px;

    @include Responsive(L) {
      padding: 30px 30px;
      margin-bottom: 15px;
    }

    @include Responsive(S) {
      flex-direction: column;
    }

    .dateMonth {
      color: #f16f23;
      font-weight: 400;
      margin-right: 50px;

      @include Responsive(S) {
        margin-bottom: 15px;
      }

      .date {
        font-size: 40px;

        @include Responsive(L) {
          font-size: 30px;
        }
      }
    }

    .picEvent {
      margin: 0;
      width: 400px;

      @include Responsive(S) {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    .picEvent .img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .detailEvent {
      color: black;
      margin-left: 50px;

      @include Responsive(S) {
        margin-left: 0;
      }

      .title {
        font-size: 1.778rem;
        margin-bottom: 15px;
        font-family: 'reforma';
        font-weight: bold;

        @include Responsive(L) {
          font-size: 1.278rem;
        }

        @include Responsive(S) {
          font-size: 1rem;
        }
      }

      .timeCost {
        letter-spacing: 0.15rem;
        line-height: normal;
        text-transform: uppercase;
        display: inline-block;
        font-size: 15px;

        @include Responsive(L) {
          font-size: 9px;
        }

        @include Responsive(XXS) {

          letter-spacing: 0.1rem;
        }

        .cost {
          display: inline;
          margin-left: 30px;
        }
      }

      .intro {
        margin-top: 20px;
        font-size: 17px;
        color: #7e7e7e;

        @include Responsive(L) {
          font-size: 14px;
        }

        @include Responsive(XXS) {
          font-size: 12px;
        }
      }
    }
  }

  .btnViewAllEvent {
    width: fit-content;
    background-color: #f16f23;
    padding: 30px 80px;
    letter-spacing: 0.124rem;
    color: #fff;
    font-weight: bold;
    margin: 50px auto 0;
    font-family: "reforma", sans-serif;

    &:hover {
      cursor: pointer;
      background-color: black;
      transition: all 0.5s ease;
    }

    @include Responsive(S) {
      padding: 20px 50px;
    }
  }
}
