@import 'assets/scss/fonts.module';
@import 'assets/scss/mixin.module';

.teachingTraining {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
  row-gap: 50px;

  @include Responsive(S) {
    grid-template-columns: 90%;
    justify-content: center;
  }
}
