@import 'assets/scss/mixin.module';
@import 'assets/scss/fonts.module';
/* vars */

$menu_background: white;
$menu_color: gray;
$menu_breakpoint: 768px;
$menu_toggle_background: black;
$menu_border: 1px solid rgba(255, 255, 255, 0.1);
$menu_padding: 40px 10px;
$menu_icon_padding: 5px 8px;

/* hide show mixin */

@mixin show() {
  display: block;
  animation: grow .5s ease-in-out; // optional animation
}

@mixin hide() {
  display: none;
}

/* global  styles */

.menu {
  background: $menu_background;
  position: relative;

  .showDefault {
    display: block;
    background-color: #282828;
  }

  //.wrapperNavLeft {
  //
  //}

  .icon {
    //margin-right: 30px;
    font-size: 18px;
  }

  .symbolNavbar {
    display: none;
    width: 150px !important;

    @include Responsive(S) {
      display: inline-block !important;
      position: absolute;
      top: 20px;
      left: 0;
      margin-top: -10px;
      margin-left: 0;
    }

    @include Responsive(XS) {
      margin-left: 20px;
      margin-top: -15px;
    }

    @include Responsive(XXS) {
      margin-left: 15px;
      margin-top: 0;
      width: 100px !important;
      top: 15px;
    }
  }

  .wrapperNavLeft {
    display: flex;
    align-items: center;
  }

  .search {
    text-align: right;
    margin-right: 20px;
  }

  .symbolNavbar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }


  .displayInlineLeft {
    float: left;
    display: inline-block;
    max-height: 100px;

    @include Responsive(L) {
      display: block;
      float: none;
    }


    @include Responsive(S) {
      display: none;
      visibility: hidden;
    }

    .symbolNavbar2 {
      max-height: 70px;
      margin: 0;
      margin-top: 20px;

      @include Responsive(L) {
        display: flex;
        justify-content: center;
      }


      img {
        min-height: 70px !important;
        max-width: 210px !important;
        display: flex;
        align-items: center;
      }
    }
  }

}

.menu ul {
  margin: 0;
  padding: 0;
  //padding-left: 9vw;
  list-style: none;

  @include Responsive(L) {
    text-align: center;
  }
  @include Responsive(S) {
    text-align: left;
  }
}

.menu,
.menu a {
  color: $menu_color;
  text-decoration: none;
  transition: 0.5s;
  z-index: 30;

  @include Responsive(S) {
    color: white;
    width: 470px;
    margin: 0 auto;
  }

  @include Responsive(XXS) {
    width: 310px;
  }

  &:hover {
    cursor: pointer;
    color: #f16f23;
  }
}

.menu a {
  display: block;
  white-space: nowrap; // prevent links form going to a new line
  font-weight: bolder;
}

.menuDropdown,
.menu input[type="checkbox"] { // hide defaults
  @include hide;
}

.menu label:hover {
  cursor: pointer;
}

/* narrow styles */

@media screen and (max-width: $menu_breakpoint) {
  // hide navigation and right icons
  .menu > ul,
  .menuRightIcon {
    @include hide;
  }
  .menu {
    input[type="checkbox"]:checked > ul {
      display: block;
    }
  }
  //.input2 {
  //
  //}

  .menuHasDropDown {
    .input2:checked {
      > ul {
        @include show;
      }
    }
  }

  //.menu > ul input[type="checkbox"]:checked + .menuDropdown ul {
  //    @include show;
  //  }
}

/* large styles */

@media screen and (min-width: $menu_breakpoint + 1px) {
  // hide show navigation button and checkboxes
  .menu > label,
  .menu > label input[type="checkbox"] {
    @include hide;
  }
  .menu a {
    padding: $menu_padding;
    font-size: 12px;

    @include Responsive(M) {
      padding: 20px 5px;
    }
  }

  // align items and style them
  .menu > ul > li {
    display: inline-block;
  }
  // hover logics
  .menuHasDropDown {
    position: relative;

    &:hover {
      > ul {
        background-color: #282828;
        @include show;
      }
    }
  }
  // dropdown position and style
  .menuHasDropDown > ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: $menu_background;
  }
  // flyout position
  .menuHasFlyOut > ul {
    left: 100%;
    top: 0;
  }
  .menuHasFlyOut .menuDownIcon {
    @include hide;
  }
}


/* look and feel only, not needed for core menu*/

// optional animation for display none/block
@keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.menuDropdown a {
  padding: 15px 20px;
  border-bottom: $menu_border;
}

/* narrow  */
@media screen and (max-width: $menu_breakpoint) {
  .menu > label {
    background: $menu_background;
    display: block;
    padding: $menu_padding;
    text-align: right;
    color: black;
    text-transform: capitalize;
    //width: 150px;

    @include Responsive(S) {
      padding: 25px 10px;
    }

    //@include Responsive(XS) {
    //  padding: 25px 35px;
    //}

    @include Responsive(XXS) {
      padding: 20px 10px;
      //margin-right: 10px;
    }

  }

  .menu a {
    padding: 10px 20px;
    font-size: 12px;
    text-transform: capitalize;

    @include Responsive(S) {
      font-size: 18px;
      padding: 3px 20px;
      font-family: 'reforma', sans-serif;
    }
  }

  .menu > ul i {
    float: right;
    padding: $menu_icon_padding;
    background: #333333;
    font-weight: 600;

    @include Responsive(XXS) {
      margin-right: 10px;
    }
  }

  .menuDropdown a {
    background: darken($menu_background, 5%);
  }

  .menuHasFlyOut > ul a {
    background: darken($menu_background, 10%);
  }

  .menuRightIcon {
    visibility: hidden;
  }
}

@media screen and (min-width: $menu_breakpoint + 1px) {
  .menu {
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.281);
  }
}

.rightSide {
    display: flex;
    align-items: center;

    @include Responsive(L) {
      display: none;
    }

    .title {
      color: black;
      font-weight: bolder;
      margin-right: 15px;
      letter-spacing: 2px;

      &.displayXLNone {
        @include Responsive(XL) {
          display: none;
        }
      }

      &:hover {
        color: #f16f23;
        cursor: pointer;
        transition: 0.5s;
      }

      > p {
        font-size: 13px;
        text-transform: uppercase;
        display: flex;
        align-items: center;

        > i {
          padding-right: 10px;
          font-size: 22px;
        }
      }
    }
  }


.sticky {
  position: fixed;
  top: 0;
  //width: 470px;
  //margin: 0 auto;
  width: 100%;
  //padding: 0 15vw;
  z-index: 999999;
  background-color: white;
  border-bottom: 1px solid black;
  //height: 50px;
}

.backgroundBlur {
  width: 100vw;
  height: 100vh;
  background-color: rgba(171, 171, 171, 0.51);
  position: relative;
}

.searchField {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);

}

.iconSearchField {
  display: block;
}

.positionFixed {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 9999;
  left: 0;
  bottom: 0;

  .backgroundBlack {
    background-color: #282828;
    color: white;
    padding: 50px 10vw;
    position: relative;
    top: 0;
    height: 100%;

    .btnClose {
      position: absolute;
      top: 20px;
      right: 30px;

      i {
        font-size: 16px;
        font-weight: bolder;
        display: flex;
        align-items: center;

        &:before {
          animation: spinReverse 0.5s;
        }

        @keyframes spin {
          from {
            transform: rotateZ(0);
          }
          to {
            transform: rotateZ(270deg);
          }
        }

        @keyframes spinReverse {
          from {
            transform: rotateZ(270deg);
          }
          to {
            transform: rotateZ(0);
          }
        }

        &:hover {
          color: #f16f23;
          cursor: pointer;
          transition: 0.5s;

          &:before {
            animation: spin 0.5s;
          }
        }

        span {
          font-size: 12px;
          font-family: 'renner';
          margin-left: 10px;
          line-height: 1.5;
          margin-bottom: -3px;
          font-weight: bolder;
          letter-spacing: 2px;
        }
      }
    }

    .narrowNavBar {
      //text-align: center;

      .iconLogo {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
      }

      .iconInfo {
        text-align: center;
        margin-top: 20px;

        i {
          padding: 8px;
        }
      }
    }
  }
}
