@import 'assets/scss/mixin.module';

.visionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include Responsive(S) {
    flex-direction: column;
  }

  .vision {
    width: 50%;

    @include Responsive(L) {
      width: 100%;
    }

    .contentVision {
      font-size: 18px;
      color: #7e7e7e;
      font-weight: 400;
      letter-spacing: 0.5px;
      margin-bottom: 50px;
      line-height: 1.5;
      font-family: 'renner';

      @include Responsive(L) {
        font-size: 13px;
      }
    }

    .videoSpeech {
      display: grid;
      grid-template-columns: 45% 50%;
      column-gap: 50px;

      @include Responsive(S) {
        grid-template-columns: 100%;
      }

      .video {
        width: 100%;
        margin: 0;
        position: relative;
        
        @include Responsive(L) {
          width: 100%;
        }

        .btnPlay {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background-color: #ffac4b;
          text-align: center;
          padding-top: 25px;
          color: white;
          font-size: 0.778rem;
          font-weight: 700;
          letter-spacing: 0.156rem;
          text-transform: uppercase;
          transition: all 0.5s ease;

          &:hover {
            background-color: white;
            color: black;
            cursor: pointer;
          }

          > i {
            font-size: 23px;
          }
        }

        .embedVideo iframe {
          width: 100%;
          height: 100%;
        }
      }

      .speech {
        color: #282828;
        font-size: 1.111rem;
        font-style: italic;
        font-family: 'Reforma', sans-serif;
        width: fit-content;
        // margin-left: 80px;

        .author {
          display: block;
          color: #f16f23;
          font-size: 14px;
          line-height: normal !important;
          font-weight: bold !important;
          letter-spacing: 2.8px;
          margin-top: 25px;
          font-style: normal;
          width: 70px;
        }

        @include Responsive(S) {
          margin-left: 0;
          font-size: 0.9rem;
          margin-bottom: 25px;
          margin-top: 15px;
        }
      }
    }
  }
  .meditation {
    width: 50%;
    max-width: 500px;
    max-height: 600px;
    @include Responsive(S) {
      margin: 0;
      width: 100%;
      text-align: center;
    }
  }

  .meditation .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
