//@import "assets/images/star.png";

.starRating {

    //color: #f16f23!important;

    button {
      background-color: white;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 25px;
      transition: 0.3s;
    }

    .on {
      color: #f16f23;
    }

    .off {
      //color: #f16f23;
      color: #7e7e7e;
    }












  //.rating {
  //  unicode-bidi: bidi-override;
  //  direction: rtl;
  //
  //  > span {
  //    display: inline-block;
  //    position: relative;
  //    width: 1.1em;
  //
  //    &:hover::before,
  //    &:hover ~span ::before {
  //      content: "\2605";
  //      color: #f16f23;
  //      //position: absolute;
  //    }
  //  }
  //}

  //.rating > i {
  //
  //}
  //
  //.rating > i:hover:before,
  //.rating > i:hover ~ i:before {
  //  content: "\2605";
  //  position: absolute;
  //}
}
