@import 'assets/scss/fonts.module';
@import 'assets/scss/mixin.module';

.sideBarInner {
  width: auto;
  grid-row-start: 1;
  grid-row-end: 3;

  @include Responsive(M) {
    grid-row: 4;
    margin-top: 70px;
    display: grid;
    grid-template-columns: calc(50% - 15px)  calc(50% - 15px);
    gap: 30px;
  }

  @include Responsive(XXS) {
    grid-template-columns: 100%;
  }

  //@media only screen and (min-width: 992px) {
  &.sticky {
    position: fixed;
    float: none;
    display: block!important;
    top: 10px;
    z-index: -1;
    inset: auto auto 30px 291.667px;
    width: 400px;
    //bottom: 0;
  }

  //.sticky {
  //  position: -webkit-sticky;
  //  position: sticky;
  //  //top: -555px;
  //  z-index: -1;
  //  bottom: 0;
  //}

  //}

  .backgroundColorOrange {
    background-color: #ffac4b;
    height: fit-content;
  }

  .wrapperBox {
    margin-bottom: 25px;
    padding: 35px 50px 40px;

    @include Responsive(L) {
      padding: 35px 50px 40px;
    }

    @include Responsive(M) {
      height: fit-content;
      padding: 20px;
    }

    @include Responsive(S) {
      font-size: 14px;
    }

    .title {
      font-family: 'reforma';

      p {
        font-size: inherit;
      }

      @include Responsive(S) {
        font-size: 18px;
      }
    }

    .titleWhite {
      color: white;
      font-family: 'reforma';

      @include Responsive(S) {
        font-size: 18px;
      }
    }

    .listItem {
      color: white;
      text-transform: capitalize;
      font-family: 'renner';
      font-weight: 400;
      letter-spacing: 1px;
      padding-left: 15px;
      margin-top: 40px;

      @include Responsive(S) {
        font-size: 14px;
      }

      li {
        margin: 10px 0;
        width: fit-content;

        a {
          transition: 0.5s;

          &:hover {
            color: black;
          }
        }

        &::marker {
          color: #282828;
          font-size: 10px;
          padding-right: 15px;
        }
      }
    }

    .itemTag {
      display: flex;
      flex-wrap: wrap;

      > a {
        display: block;
        padding: 14px 25px;
        background-color: white;
        margin: 10px 10px 10px 0;
        width: fit-content;
        text-transform: capitalize;
        font-family: 'renner';
        color: black;
        font-weight: 400;
        @include Responsive(XS) {
          padding: 10px 18px;

        }

        &:hover {
          background-color: #f16f23;
          color: white;
          transition: 0.5s;
        }
      }
    }

    p {
      font-family: 'renner';
      font-weight: 400;
      color: #5e5e5e;
      font-size: 18px;
    }

    .sliderPrice {
      color: #ffac4b;
      background-color: white;
      border-radius: 0;
      height: 7px;
      padding: 8px 0;
      width: 100%;
    }

    .price {
      font-family: 'renner';
      letter-spacing: 2px;
      color: gray;
      font-size: 14px;

      span {
        font-size: 18px;
        color: black;
        font-weight: 500;

        @include Responsive(XS) {
          font-size: 14px;
        }
      }
    }

    .btnFilter {
      font-family: 'reforma';
      background-color: #f16f23;
      padding: 20px 50px;
      text-align: center;
      color: white;
      font-weight: 900;
      letter-spacing: 2px;
      font-size: 18px;
      transition: 0.5s;

      @include Responsive(S) {
        padding: 10px 20px;
        font-size: 14px;
      }

      &:hover {
        background-color: #282828;
        cursor: pointer;
      }
    }

  }
}
