@import 'assets/scss/fonts.module';
@import 'assets/scss/mixin.module';

.title {
  font-family: "reforma",sans-serif;
  color: black;
  font-size: 3.556rem;
  font-weight: bold;
  font-style: normal;
  line-height: 1.45em;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0;
  width: fit-content;
  max-width: 560px;
  margin: 1.60em auto 0.87em;
  text-align: center;

  &.left {
    margin: 1.60em 0 0.87em;
    text-align: left;
  }

  @include Responsive(L) {
    font-size: 2.0rem;
    width: 360px;
  }

  @include Responsive(XS) {
    width: 290px;
    margin-top: 20px;
    font-size: 1.7rem;
  }
}