@import 'assets/scss/fonts.module';

.title {
  font-family: 'renner';
  margin: 0;
}

.starRatingInput {
  font-size: 25px;
  color: #f16f23;

  .starItem {
    margin-right: 5px;
    cursor: pointer;

    &:hover {
      color: #000;
    }
  }

  input {
    display: none;
  }

  &.unChecked {
    &:hover {
      .starItem {
        &::before {
          content: '\2605';
          position: absolute;
        }

        &:hover ~ .starItem:before {
          content: none;
        }
      }
    }
  }

  &.checked {
    .starItem::before {
      content: '\2605';
      position: absolute;
    }
    input:checked ~ .starItem:before {
      content: none;
    }
  }
}
