@import 'assets/scss/mixin.module';

.btnScrollUp {
  position: fixed;
  right: 40px;
  bottom: 40px;
  font-size: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffac4b;
  z-index: 120;
  cursor: pointer;
  color: white;
  transition: 0.5s;
  margin: 0;
  text-align: center;
  line-height: 2.9em;

  @include Responsive(S) {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    right: 15px;
    bottom: 15px;
    line-height: 1.6em;
  }

  &:hover {
    background-color: #282828;
  }
}
