@import 'assets/scss/mixin.module';

.animate {
  visibility: hidden;
  opacity: 0;
}

.feature {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 100%;
  overflow: hidden;

  @include Responsive(L) {
    height: 100%;
  }

  @include Responsive(S) {
    grid-template-columns: 50% 50%;
    //height: 587px;
  }

  .picFeature {
    margin: 0;
    width: 100%;
    position: relative;
    transition: all 0.5s ease;

    @include Responsive(L) {
      //height: 57%;
    }

    &:hover .contentFeature {
      opacity: 1;
      bottom: 0;
      z-index: 2;
      visibility: visible;

      @include Responsive(L) {
        visibility: hidden;
      }
    }

    &:hover .titleFeature {
      bottom: 150px;
      z-index: 2;

      @include Responsive(L) {
        bottom: 10px;
      }
    }

    &:hover .btnView {
      opacity: 1;
      z-index: 2;
    }

    &:hover {
      &::after {
        background: rgba(0, 0, 0, 0.5) !important;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
        z-index: 1;
      }
    }
  }

  .picFeature img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .titleFeature {
    padding: 0 3.9rem 3.75rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    // margin-bottom: -9em;
    // height: 16em;
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: white;
    font-family: 'Reforma', sans-serif;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.45em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0;

    &:hover {
      color: #f16f23;
      cursor: pointer;
    }

    @include Responsive(L) {
      font-size: 1.6rem;
      padding: 0 1.9rem 2.75rem;
    }
  }

  .contentFeature {
    position: absolute;
    padding: 0 3.9rem 3.75rem;
    color: white;
    opacity: 0;
    transition: all 0.5s ease;
    font-size: 20px;
    line-height: 1.45em;
    visibility: hidden;

    @include Responsive(L) {
      font-size: 14px;
      line-height: 1.3em;
      padding: 0 1.9rem 2.75rem;
    }
  }

  .btnView {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #ffac4b;
    color: white;
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    opacity: 0;
    transition: all 0.5s ease;

    &:hover {
      background-color: white;
      color: black;
      cursor: pointer;
    }

    @include Responsive(L) {
      height: 70px;
      width: 70px;
      padding-top: 25px;
    }
  }
}
