@import 'assets/scss/mixin.module';

.zaloChatWidget {
  bottom: 40px !important;
  left: 30px !important;

  @include Responsive(S) {
    bottom: 20px !important;
    left: 20px !important;
  }

  @include Responsive(XXS) {
    bottom: 10px !important;
    left: 10px !important;
  }
}
