@import 'assets/scss/fonts.module';
@import 'assets/scss/mixin.module';

.displayGrid {
  display: grid;
  grid-template-columns: calc(43% - 50px) 57%;
  column-gap: 50px;

  @include Responsive(S) {
    grid-template-columns: auto ;
  }
}
