@import 'assets/scss/mixin.module';
@import 'assets/scss/fonts.module';

.wrapperRecentNews {
  margin-bottom: 25px;
  padding: 35px 50px 40px;

  @include Responsive(L) {
    padding: 35px 50px 40px;
  }

  @include Responsive(M) {
    height: fit-content;
    padding: 20px;
  }

  @include Responsive(S) {
    font-size: 14px;
  }

  .name {
    font-family: 'reforma', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
    letter-spacing: 2px;

    @include Responsive(S) {
      font-size: 18px;
    }
  }
}
