@import 'assets/scss/mixin.module';

.animate {
  visibility: hidden;
  opacity: 0;
}

.feature {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 100%;
  overflow: hidden;

  @include Responsive(L) {
    height: 100%;
  }

  @include Responsive(S) {
    grid-template-columns: 50% 50%;
  }

  .picFeature {
    display: flex;
    margin: 0;
    height: 100%;
    position: relative;
    transition: all 0.5s ease;
    font-family: "reforma", sans-serif;

    &:before {
      background: rgba(0, 0, 0, 0.3) !important;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;
      z-index: 1;
    }

    &:hover .contentFeature {
      opacity: 1;
      z-index: 2;
      visibility: visible;

      @include Responsive(L) {
        visibility: hidden;
      }
    }

    &:hover .titleFeature {
      bottom: -60px;
      z-index: 2;

      @include Responsive(L) {
        bottom: -370px;
      }

      @include Responsive(XXS) {
        bottom: -480px;
      }
    }

    &:hover .btnView {
      opacity: 1;
      z-index: 2;
    }

    &:hover {
      &::after {
        background: rgba(0, 0, 0, 0.5) !important;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
        z-index: 1;
      }
    }
  }

  .picFeature .img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .titleFeature {
    padding: 0 3.9rem;
    position: absolute;
    bottom: -180px;
    width: 100%;
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: white;
    font-family: 'Reforma', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.45em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0;
    text-align: start;

    &:hover {
      color: #f16f23;
      cursor: pointer;

      .contentFeature {
        color: white;
        cursor: auto;
      }
    }

    @include Responsive(L) {
      font-size: 1.6rem;
      padding: 0 1.9rem 2.75rem;
      bottom: -390px;
    }

    @include Responsive(M) {
      bottom: -410px;
    }

    @include Responsive(XXS) {
      bottom: -510px;
      padding: 0 0.9rem 1.75rem;
    }
  }

  .contentFeature {
    display: block;
    opacity: 0;
    transition: all 0.5s ease;
    font-size: 18px;
    line-height: 1.45em;
    visibility: hidden;
    font-weight: normal;
    min-height: 250px;
    font-style: italic;

    @include Responsive(L) {
      font-size: 14px;
      line-height: 1.3em;
      padding: 0 1.9rem 2.75rem;
      min-height: 400px;
    }

    @include Responsive(XXS) {
      min-height: 500px;
    }
  }

  .btnView {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #ffac4b;
    color: white;
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    opacity: 0;
    transition: all 0.5s ease;
    font-family: 'reforma';

    &:hover {
      background-color: white;
      color: black;
      cursor: pointer;
    }

    @include Responsive(L) {
      height: 70px;
      width: 70px;
      padding-top: 25px;
      letter-spacing: 1px;
    }

    @include Responsive(XXS) {
      height: 50px;
      width: 50px;
      padding-top: 18px;
      font-size: 11px;
    }
  }
}
