@font-face {
  font-family: 'reforma';
  src: url('../../assets/fonts/Reforma1969-Blanca.ttf') format('truetype'),
    url('../../assets/fonts/Reforma1969-Blanca.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'reforma';
//   src: url('../../assets/fonts/Muli.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
