@font-face {
  font-family: 'reforma';
  src: url('../../assets/fonts/Reforma1969-Blanca.ttf') format('truetype'),
  url('../../assets/fonts/Reforma1969-Blanca.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'renner';
  src: url('../../assets/fonts/Renner_ 200 Thin.ttf') format('truetype'),
  url('../../assets/fonts/Renner_ 200 Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'renner';
  src: url('../../assets/fonts/Renner_ 700 Bold.ttf') format('truetype'),
  url('../../assets/fonts/Renner_ 700 Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'renner';
  src: url('../../assets/fonts/Renner_ 400 Book.ttf') format('truetype'),
  url('../../assets/fonts/Renner_ 400 Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'renner';
  src: url('../../assets/fonts/Renner_ 500 Medium.ttf') format('truetype'),
  url('../../assets/fonts/Renner_ 500 Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}