@import 'assets/scss/mixin.module';
@import 'assets/scss/fonts.module';

.container1 {
  width: auto;
  height: 100%;
  max-width: 1290px;
  transition: 0.5s;
  margin: 120px auto 100px;
  padding: 0 30px;

  @include Responsive(M) {
    margin: 70px auto 60px;
  }

  @include Responsive(S) {
    padding: 0 20px;
    margin: 60px auto 50px;
  }
}

.container2 {
  width: auto;
  height: 100%;
  max-width: 1140px;
  transition: 0.5s;
  margin: 0 auto;
  padding: 0 30px;

  @include Responsive(S) {
    padding: 0 20px;
    margin: 0 auto 0;
  }
}

.backgroundColor {
  width: 100%;
  background-color: #f2f1ef;
  height: fit-content;
}

.section,
.section2 {
  visibility: hidden;
}

.button {
  background-color: #f16f23;
  font-family: 'renner';
  font-size: 14px;
  transition: 0.5s;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
  padding: 22px 50px;

  &:hover {
    background-color: #282828;
    cursor: pointer;
  }

  @include Responsive(S) {
    font-size: 12px;
    padding: 22px 40px;
  }

  @include Responsive(XS) {
    padding: 18px;
  }
}

.button2 {
  background-color: #f16f23;
  font-family: 'renner';
  font-size: 14px;
  transition: 0.5s;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
  padding: 22px 50px;
  cursor: pointer;
  width: fit-content;

  @include Responsive(S) {
    font-size: 12px;
    padding: 22px 40px;
  }

  @include Responsive(XS) {
    padding: 18px;
  }

  &.BGCBlack {
    background-color: #282828;
  }

  &.normal {
    &:hover {
      background-color: #f16f23;
    }
  }


  &.inActive {
    background-color: #f2f1ef;
    color: #a8a8a8;

    &:hover {
      background-color: #f16f23;
      color: white;
    }
  }
}


