@import 'assets/scss/mixin.module';

.container1 {
  width: auto;
  height: 100%;
  max-width: 1260px;
  transition: 0.5s;
  margin: 120px auto 100px;
  padding: 0 50px;

  @include Responsive(M) {
    margin: 70px auto 60px;
  }

  @include Responsive(S) {
    padding: 0 20px;
    margin: 60px auto 50px;
  }
}

.container2 {
  width: auto;
  height: 100%;
  max-width: 1110px;
  transition: 0.5s;
  margin: 0 auto;
  padding: 0 50px;

  @include Responsive(S) {
    padding: 0 20px;
    margin: 0 auto 0;
  }
}

.backgroundColor {
  width: 100%;
  background-color: #f2f1ef;
}

.section,
.section2 {
  visibility: hidden;
}