@import 'assets/scss/mixin.module';

.proverb {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include Responsive(S) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
  }

  @include Responsive(S) {
    padding: 0;
  }

  .picProverb {
    width: 50%;
    margin: 0;
    text-align: center;

    @include Responsive(S) {
      width: 100%;
      flex-direction: column;
    }
  }

  .picProverb .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .contentProverb {
    width: 50%;
    margin-left: 120px;

    @include Responsive(L) {
      margin-left: 50px;
    }

    @include Responsive(S) {
      margin-left: 0;
      width: 100%;
    }

    .detailProverb {
      color: #282828;
      font-size: 2.222rem;
      line-height: normal;
      font-style: italic;
      margin-bottom: 25px;
      font-family: 'reforma';
      font-weight: 500;

      @include Responsive(L) {
        font-size: 1.7rem;
      }

      @include Responsive(S) {
        font-size: 1.4rem;
        margin-top: 30px;
      }

      @include Responsive(XXS) {
        font-size: 1.2rem;
      }
    }

    .author {
      color: #f16f23;
      letter-spacing: 1px;
    }
  }
}
