@import 'assets/scss/fonts.module';
@import 'assets/scss/mixin.module';

.wrapperProduct {
  .listProduct {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 50px;
    row-gap: 50px;

    @include Responsive(S) {
      grid-template-columns: 48% 48%;
      row-gap: 25px;
      column-gap: 30px;
    }

    @include Responsive(XXS) {
      grid-template-columns: 100%;
      row-gap: 20px;
    }

    .item {
      position: relative;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        .icon {
          font-size: 20px;
          visibility: visible;
          border-radius: 50%;
          animation: myMove1 0.5s;
          background-color: #ffac4b;
          @keyframes myMove1 {
            0% {
              transform: scale(0);

            }
            100% {
              transform: scale(1);
            }
          }
        }

        .icon2 {
          font-size: 20px;
          visibility: visible;
          border-radius: 50%;
          background-color: #ffac4b;

          animation: myMove2 0.5s;
          @keyframes myMove2 {
            0% {
              transform: scale(0);
            }
            50% {
              transform: scale(0);

              //background-color: white;
            }
            100% {
              transform: scale(1);
            }
          }
        }
      }

      .wrapperImage {
        padding: 50px 70px;
        border: 3px rgba(128, 128, 128, 0.3) solid;

        @include Responsive(S) {
          padding: 30px 40px;
        }



        @include Responsive(XXS) {
          padding: 40px 50px;
        }

        .picProduct {
          margin: 0;
          min-height: 300px;
          display: flex;
          justify-content: center;
          align-items: center;

        }


      }

      .infoProduct {
        font-family: 'renner';
        font-weight: bold;
        margin-top: 40px;
        letter-spacing: 1px;

        .name {
          font-size: 21px;
          margin-bottom: 5px;

          @include Responsive(S) {
            font-size: 17px;
            letter-spacing: 0;
          }
        }

        > i {
          margin: 0 2px;
          font-size: 12px;
          color: #ffac4b;
        }

        .money {
          color: #7e7e7e;
          opacity: 0.7;
        }
      }

      .detailInfo {
        visibility: hidden;
        position: absolute;
        top: 10px;
        right: 15px;
        height: fit-content;
        width: fit-content;
        color: #282828;
        transition: 0.5s;

        .icon {
          width: 50px;
          height: 50px;
          color: white;
          font-size: 20px;
          text-align: center;
          padding-top: 11px;
          //  animation: reverse 1s;
          //
          //  @keyframes reverse {
          //    0% {
          //      transform: scale(1);
          //    }
          //    100% {
          //      transform: scale(0);
          //    }
          //  }
          //}

          //.icon2 {
          //  animation: reverse 1s;
          //  @keyframes reverse {
          //    0% {
          //      transform: scale(1);
          //    }
          //    100% {
          //      transform: scale(0);
          //    }
          //  }
          //}
        }
      }

    }
  }

  .listProduct2 {
    .item {
      display: flex;
      column-gap: 50px;
      padding-bottom: 40px;
      border-bottom: 1px rgba(128, 128, 128, 0.3) solid;
      margin-bottom: 80px;

      @include Responsive(XS) {
        flex-direction: column;
      }

      .picture {
        position: relative;
        cursor: pointer;

        &:hover {
          .icon {
            font-size: 20px;
            visibility: visible;
            border-radius: 50%;
            animation: myMove1 0.5s;
            background-color: #ffac4b;
            @keyframes myMove1 {
              0% {
                transform: scale(0);

              }
              100% {
                transform: scale(1);
              }
            }
          }

          .icon2 {
            font-size: 20px;
            visibility: visible;
            border-radius: 50%;
            background-color: #ffac4b;

            animation: myMove2 0.5s;
            @keyframes myMove2 {
              0% {
                transform: scale(0);
              }
              50% {
                transform: scale(0);

                //background-color: white;
              }
              100% {
                transform: scale(1);
              }
            }
          }
        }

        .wrapperImage {
          padding: 50px 40px;
          border: 1px rgba(128, 128, 128, 0.3) solid;

          .picProduct {
            margin: 0;
            //min-height: 300px;
            min-width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;

            @include Responsive(XS) {
              min-width: 50px;
            }
          }

          @include Responsive(XS) {
            padding: 30px 75px;
          }
        }


        .detailInfo {
          visibility: hidden;
          position: absolute;
          top: 10px;
          right: 15px;
          height: fit-content;
          width: fit-content;
          color: #282828;
          transition: 0.5s;

          .icon {
            width: 50px;
            height: 50px;
            color: white;
            font-size: 20px;
            text-align: center;
            padding-top: 11px;
            //  animation: reverse 1s;
            //
            //  @keyframes reverse {
            //    0% {
            //      transform: scale(1);
            //    }
            //    100% {
            //      transform: scale(0);
            //    }
            //  }
            //}

            //.icon2 {
            //  animation: reverse 1s;
            //  @keyframes reverse {
            //    0% {
            //      transform: scale(1);
            //    }
            //    100% {
            //      transform: scale(0);
            //    }
            //  }
            //}
          }
        }
      }

      .infoProduct {
        font-family: 'renner';
        font-weight: bold;
        margin-top: 0;
        letter-spacing: 1px;

        .name {
          font-size: 21px;
          margin-top: 0;
          margin-bottom: 5px;

          @include Responsive(S) {
            font-size: 16px;
          }

          @include Responsive(XS) {
            margin-top: 20px;
          }
        }

        > i {
          margin: 0 2px;
          font-size: 12px;
          color: #ffac4b;
        }

        .content {
          line-height: 1.5;
          color: #7e7e7e;

          @include Responsive(S) {
            font-size: 12px;
          }
        }

        .money {
          color: #7e7e7e;
          opacity: 0.7;
        }
      }
    }
  }
}
