@import 'assets/scss/mixin.module';

.backgroundColor {
  background-color: #282828;

  .mend {
    margin: 0 auto;
    position: relative;

    @include Responsive(L) {
      margin-bottom: -100px;
    }

    @include Responsive(M) {
      margin-bottom: -150px;
    }

    @include Responsive(XXS) {
      margin-bottom: -110px;
    }

    .videoMend {
      position: relative;
      width: 100%;
      margin: 0;
      top: -300px;

      @include Responsive(XXS) {
        top: -180px;
      }

      .btnPlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #f16f23;
        text-align: center;
        padding-top: 40px;
        color: white;
        font-size: 0.778rem;
        font-weight: 700;
        letter-spacing: 0.156rem;
        text-transform: uppercase;
        transition: all 0.5s ease;

        &:hover {
          background-color: white;
          color: black;
          cursor: pointer;
        }

        @include Responsive(S) {
          width: 70px;
          height: 70px;
          font-size: 0.6rem;
          padding-top: 30px;
        }
      }
    }

    .videoMend img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .gridMend {
      position: relative;
      top: -200px;
      width: 100%;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      border: none;
      font-family: 'reforma';

      @include Responsive(S) {
        grid-template-columns: 50% 50% ;
      }

      @include Responsive(XXS) {
        grid-template-columns: 100%;
        top: -140px;
      }

      .gridItem {
        background-color: #ffac4b;
        border: none;
        font-size: 30px;
        margin: 3px;
        color: white;
        text-align: start;
        padding: 30px 50px;
        transition: 0.5s;

        @include Responsive(M) {
          padding: 15px 20px;
          font-size: 22px;
        }

        @include Responsive(XXS) {
          padding: 10px 15px;
          font-size: 17px;
        }

        > i {
          display: block;
          opacity: 0.5;
        }

        &:hover {
          background-color: #fff;
          color: black;
          cursor: pointer;
        }

        &:hover i {
          color: #f16f23;
          opacity: 1;
        }
      }
    }

    .embedVideo iframe {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}
