@import 'assets/scss/mixin.module';

.visionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include Responsive(S) {
    flex-direction: column;
  }

  .vision {
    width: 50%;

    @include Responsive(L) {
      width: 100%;
    }

    .titleVision {
      font-family: 'Reforma', sans-serif;
      font-size: 3.556rem;
      font-weight: 400;
      font-style: normal;
      line-height: 1.45em;
      text-decoration: none;
      text-transform: none;
      letter-spacing: 0;
      margin-bottom: 0.87em;
      color: black;
      text-align: left;

      @include Responsive(L) {
        font-size: 2.256rem;
      }
    }

    .contentVision {
      font-size: 16px;
      color: #7e7e7e;
      margin-bottom: 50px;
      line-height: 1.5;

      @include Responsive(L) {
        font-size: 13px;
      }
    }

    .videoSpeech {
      display: flex;
      justify-content: space-between;

      @include Responsive(S) {
        flex-direction: column;
      }

      .video {
        width: 100%;
        //max-height: 162px;
        margin: 0;
        position: relative;

        @include Responsive(L) {
          width: 100%;
          height: 50%;
        }

        .btnPlay {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background-color: #ffac4b;
          text-align: center;
          padding-top: 25px;
          color: white;
          font-size: 0.778rem;
          font-weight: 700;
          letter-spacing: 0.156rem;
          text-transform: uppercase;
          transition: all 0.5s ease;

          &:hover {
            background-color: white;
            color: black;
            cursor: pointer;
          }

          > i {
            font-size: 23px;
          }
        }

        .embedVideo iframe {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }

      .video img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .speech {
        color: #282828;
        font-size: 1.111rem;
        font-style: italic;
        font-family: 'Reforma', sans-serif;
        width: fit-content;
        margin-left: 80px;

        .author {
          display: block;
          color: #f16f23;
          font-size: 14px;
          line-height: normal !important;
          font-weight: bold !important;
          letter-spacing: 2.8px;
          margin-top: 25px;
          font-style: normal;
          width: 70px;
        }

        @include Responsive(S) {
          margin-left: 0;
          font-size: 0.9rem;
          margin-bottom: 25px;
          margin-top: 15px;
        }
      }
    }
  }
  .meditation {
    width: 50%;

    @include Responsive(S) {
      margin: 0;
      width: 100%;
    }
  }

  .meditation img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
