@import 'assets/scss/fonts.module';
@import 'assets/scss/mixin.module';

.wrapperPaginate {
  .pagination {
    margin: 0 auto;
    grid-column-start: 0;
    grid-column-end: 3;
    display: flex;
    justify-content: space-around;
    font-family: 'renner';
    font-weight: bold;
    width: fit-content;

    @include Responsive(M) {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    .pageItem {
      list-style: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      transition: 0.5s;
      margin: 0 15px;
      font-family: 'renner';
      font-size: 14px;
      font-weight: 900 !important;

      &:hover {
        cursor: pointer;
        color: white;
        background-color: #f16f23;
      }

      &.decoration {
        position: relative;
        line-height: 42px;

        &::after {
          content: '/';
          position: absolute;
          right: -19px;
          top: -1px;
          color: black !important;
        }
      }
    }

    li:nth-last-child(2):after {
      content: ' ' !important;
    }

    .iconLeft {
      position: relative;
      line-height: 38px;
      font-size: 15px;

      &:after {
        content: '/';
        position: absolute;
        right: -75px;
        top: 0;
        color: black !important;
        padding-right: 55px;

        &:hover {
          cursor: none;
        }
      }
    }

    .iconRight {
      position: relative;
      line-height: 38px;
      font-size: 15px;

      &:before {
        content: '/';
        position: absolute;
        right: -4px;
        top: 0;
        color: black !important;
        padding-right: 55px;

        &:hover {
          cursor: none;
        }
      }
    }

    .pageLink {
      line-height: 38px;
      position: relative;
      font-size: 17px;
      color: #282828;
    }

    .active {
      background-color: #f16f23;
      color: white;
    }

    :global(.disabled) {
      display: none;
    }
  }

  .view {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    @include Responsive(XXS) {
      flex-direction: column;
    }

    .icon {
      @include Responsive(XXS) {
        margin-bottom: 20px;
      }

      .blur {
        opacity: 0.2;
      }

      > i {
        margin: 0 10px;
        font-size: 25px;
        transition: 0.5s;

        &:hover {
          cursor: pointer;
          color: #282828;
          opacity: 1 !important;
        }
      }
    }
  }
}

.selectSort {
  width: auto;
  position: relative;

  &:after {
    content: '\25bc';
    font-family: 'fontello', serif;
    display: block;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 1.8em;
    width: 1.2em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    margin-top: -0.5em;
    pointer-events: none;
    cursor: pointer;
  }

  .selectInner {
    padding: 1.893em 1.8em;
    border: 2px solid #e7e4df;
    font-size: 14px;
    font-style: normal;
    line-height: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.124rem;
    font-family: 'renner';
    font-weight: 400;
    width: auto;
    padding-right: 60px;
    color: rgba(94, 94, 94, 0.78);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    @include Responsive(S) {
      padding: 1.193em 1.2em;
      font-size: 12px;
      padding-right: 50px;
      width: 100%;
    }

    > option {
      color: black !important;
    }
  }

  :global(select::-ms-expand) {
    display: none;
  }
}
