@import 'assets/scss/mixin.module';
@import 'assets/scss/fonts.module';

.wrapperBox {
  margin-bottom: 25px;
  padding: 35px 50px 40px;
  margin-top: 30px;

  @include Responsive(L) {
    padding: 35px 50px 40px;
  }

  @include Responsive(M) {
    padding: 20px;
  }

  .calendar {
    width: 100%;
    background-color: #f2f1ef;

    .header {
      display: flex;
      align-items: center;
      padding: 12px;
      border-radius: 6px 6px 0 0;
      color: black;
      font-family: 'reforma', sans-serif;

      .nav {
        width: 30px;
        height: 30px;
        border: 1px solid #fff;
        border-radius: 99px;
        outline: 0;
        background-color: transparent;
        color: #fff;
        cursor: pointer;
      }

      .datetime {
        margin: 0 auto;
        font-weight: bold;
        font-size: 25px;

      }
    }

    .week-container {
      display: flex;
      flex-wrap: wrap;
      font-family: 'reforma', sans-serif;
      font-weight: bolder;

      .week-cell {
        flex: 0 0 calc(100% / 7);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
      }
    }

    .day-container {
      display: flex;
      flex-wrap: wrap;
      font-family: 'renner';
      color: #7e7e7e;

      .dayCell {
        flex: 0 0 calc(100% / 7);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;

        &.day-cell--faded {
          opacity: 0;
        }

        &.day-cell--today {
          border-radius: 50%;
          background-color: #f16f23;
          color: #fff;
        }
      }
    }
  }
}