@import 'assets/scss/mixin.module';
@import 'assets/scss/fonts.module';

.wrapperBox {
  margin-bottom: 25px;
  padding: 35px 50px 40px;
  margin-top: 30px;

  @include Responsive(L) {
    padding: 35px 50px 40px;
  }

  @include Responsive(M) {
    height: fit-content;
    padding: 20px;
  }

  @include Responsive(S) {
    font-size: 14px;
  }

  .calendar {
    :global(.react-calendar__navigation) {
      display: flex;
      justify-content: space-between;
      background-color: #f2f1ef !important;
    }

    :global(.react-calendar__navigation__label) {
      font-family: 'reforma';
      font-weight: bold;
      font-size: 24px;
      border: none;

      @include Responsive(S) {
        font-size: 16px;
      }
    }

    :global(.react-calendar__navigation__prev2-button),
    :global(.react-calendar__navigation__next2-button) {
      display: none;
    }

    :global(.react-calendar__navigation__prev-button),
    :global(.react-calendar__navigation__next-button) {
      border: none;
      font-size: 25px;
      font-weight: bold;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        color: #f16f23;
      }
    }

    :global(.react-calendar__month-view__weekdays__weekday) {
      text-align: center;
      font-family: 'reforma', sans-serif;
      font-weight: bold;
      font-size: 0;

      &:first-letter {
        font-size: 20px;

        @include Responsive(S) {
          font-size: 16px;
        }
      }

      abbr {
        text-decoration: none;
      }
    }

    :global(.react-calendar__tile--now) {
      background-color: #f16f23 !important;
      color: white !important;
    }

    :global(.react-calendar__tile) {
      border: none;
      font-family: 'renner';
      font-size: 18px;
      color: #7e7e7e;
      border-radius: 50%;
      background-color: #f2f1ef;

      @include Responsive(S) {
        font-size: 14px;
      }
    }
  }
}
