backend:
  name: git-gateway
  branch: main
  local_backend: true
  repo: danieltran3110/accessories-phat-giao
media_folder: public/img # Where media files will be stored
public_folder: /img # Where the media files can be accesed from the server
collections:
  - name: 'home'
    label: 'Home'
    files:
      - label: 'Slide Introduce'
        name: 'slideIntroduce'
        file: 'content/home/slideIntroduce.md'
        fields:
          - label: Items
            name: items
            widget: list
              - { label: 'Image', name: 'src', widget: 'image' }
              - { label: 'Alt of Image', name: 'alt', widget: 'string' }
              - { label: 'Title', name: 'title', widget: 'string' }
              - { label: 'Sub Title', name: 'subTitle', widget: 'string' }
              - { label: 'Button Name', name: 'btnName', widget: 'string' }
      - label: 'Proverb'
        name: 'proverb'
        file: 'content/home/proverb.md'
        fields:
          - { label: 'Proverb', name: 'proverb', widget: 'string' }
          - { label: 'Author', name: 'author', widget: 'string' }
          - { label: 'Image', name: 'src', widget: 'image' }
      - label: 'Welcome'
        name: 'welcome'
        file: 'content/home/welcome.md'
        fields:
          - { label: 'Title', name: 'title', widget: 'string' }
          - { label: 'Author', name: 'author', widget: 'string' }
          - { label: 'Content', name: 'content', widget: 'string', }
      - label: 'Mends'
        name: 'mends'
        file: 'content/home/mend.md'
        fields:
          - { label: 'Image', name: 'image', widget: 'image' }
          - { label: 'Link Video', name: 'linkVideo', widget: 'string' }
          - label: Items
            name: items
            widget: list
            fields:
              - { label: 'Title', name: 'title', widget: 'string' }
              - { label: 'Icon Name', name: 'iconName', widget: 'string' }
  - name: 'blog' # Used in routes, e.g., /admin/collections/blog
    label: 'Blog' # Used in the UI
    folder: 'content/posts' # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: '{{slug}}' # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - { label: 'Title Post', name: 'titlePost', widget: 'string' }
      - { label: 'Author Post', name: 'authorPost', widget: 'string' }
      - {
          label: 'Publish Date',
          name: 'date',
          widget: 'datetime',
          date_format: 'DD.MM.YYYY',
          time_format: 'HH:mm',
          format: 'LLL',
        }
      - { label: 'Description', name: 'content', widget: 'text' }
      - { label: 'Slogan', name: 'slogan', widget: 'string' }
      - label: 'Image'
        name: 'src'
        widget: 'image'
        required: false
      - { label: 'Blog post content', name: 'body', widget: 'markdown' }
