@import 'assets/scss/fonts.module';
@import 'assets/scss/mixin.module';

.listPosts {
  max-width: 800px;

  .darkPost {
    display: none;
    background-color: #282828;
    padding: 50px;
    color: white !important;
    margin-top: 0;
    position: relative;

    &:first-child {
      display: block;
    }

    .title {
      font-family: 'reforma', sans-serif;
      color: white;
      font-size: 2.556rem;
      font-weight: bold;
      font-style: normal;
      line-height: 1.45em;
      text-decoration: none;
      text-transform: none;
      letter-spacing: 0;
      width: 100%;
      position: relative;
      transition: 0.5s;
      cursor: pointer;
      display: block;

      &:hover {
        color: #f16f23;
      }

      @include Responsive(S) {
        font-size: 1.356rem;
        margin-top: 0;
      }
    }

    .author {
      font-family: 'reforma', sans-serif;
      font-weight: bold;
      transition: 0.5s;
      cursor: pointer;
      letter-spacing: 2px;
      color: #7e7e7e;

      span {
        font-family: 'renner';
      }

      &:hover {
        color: #f16f23;
      }

      @include Responsive(S) {
        font-size: 12px;
        letter-spacing: 1px;
      }
    }

    .content {
      color: white;
      font-family: 'renner';
      font-size: 18px;
      white-space: pre-line;
      line-height: 1.5;

      @include Responsive(S) {
        font-size: 14px;
      }
    }
  }

  .wrapperPosts {
    border-bottom: 3px solid #e7e4df;
    padding-bottom: 40px;
    margin-bottom: 50px;

    &:last-child {
      border-bottom: none;
    }

    .title {
      font-family: 'reforma', sans-serif;
      color: black;
      font-size: 2.556rem;
      font-weight: bold;
      font-style: normal;
      line-height: 1.45em;
      text-decoration: none;
      text-transform: none;
      letter-spacing: 0;
      width: 100%;
      position: relative;
      transition: 0.5s;
      cursor: pointer;
      padding-right: 80px;
      display: block;
      padding-top: 20px;
      
      &:hover {
        color: #f16f23;
      }

      @include Responsive(S) {
        font-size: 1.356rem;
      }
    }

    .author {
      font-family: 'reforma', sans-serif;
      font-weight: bold;
      transition: 0.5s;
      cursor: pointer;
      letter-spacing: 2px;

      &:hover {
        color: #f16f23;
      }

      span {
        font-family: 'renner';
        font-weight: normal;
        color: #7e7e7e;
      }

      @include Responsive(S) {
        font-size: 12px;
        letter-spacing: 1px;
      }
    }

    .content {
      font-family: 'renner';
      color: #7e7e7e;
      font-size: 18px;
      white-space: pre-line;
      line-height: 1.5;

      @include Responsive(S) {
        font-size: 14px;
      }
    }
  }
}
