@import 'assets/scss/mixin.module';
@import 'assets/scss/fonts.module';

.sideBarInner {
  grid-column-start: 2;
  grid-column-end: 3;

  @include Responsive(M) {
    grid-column-start: 1;
    grid-column-end: 2;

    display: grid;
    grid-template-columns: calc(50% - 20px) calc(50% - 20px);
    column-gap: 40px;
    row-gap: 40px;
  }

  @include Responsive(S) {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    column-gap: 20px;
    row-gap: 20px;
  }

  @include Responsive(XXS) {
    grid-template-columns: 100%;
  }
}