@import 'assets/scss/fonts.module';
@import 'assets/scss/mixin.module';

.dharmaWrapper {
  padding-bottom: 100px;

  .titleDharma {
    padding-top: 10px;

    @include Responsive(XS) {
      padding-top: 30px;
    }

    @include Responsive(XXS) {
      padding-top: 20px;
    }
  }

  .dharma {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    column-gap: 50px;

    @include Responsive(S) {
      flex-direction: column;
    }
  }
}
