@import 'assets/scss/fonts.module';
@import 'assets/scss/mixin.module';
@import 'assets/scss/animation.module';

.wrapperProduct {
  .listProduct {
    display: grid;
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
    column-gap: 50px;
    row-gap: 50px;

    @include Responsive(S) {
      grid-template-columns: 50% calc(50% - 30px);
      row-gap: 25px;
      column-gap: 30px;

      & > div > a > div {
        height: 385px;
      }
    }

    @include Responsive(XXS) {
      grid-template-columns: 100%;
      row-gap: 20px;
    }
  }
}
