@import 'assets/scss/fonts.module';
@import 'assets/scss/mixin.module';

.infoProduct {
  @include Responsive(S) {
    margin-top: 30px;
  }

  .moneyStars {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .money {
      font-family: 'reforma', sans-serif;
      font-weight: bold;
      font-size: 28px;
      margin-top: 0;

      @include Responsive(S) {
        font-size: 20px;
      }
    }

    .stars {
      color: #ffac4b;
      letter-spacing: 4px;
      font-size: 20px;

      @include Responsive(S) {
        font-size: 16px;
      }
    }
  }

  .buy {
    display: flex;
    column-gap: 25px;

    .input {
      border: 2px rgba(128, 128, 128, 0.3) solid;
      position: relative;
      width: 145px;
      color: #7e7e7e;
      padding-left: 20px;

      .inputNumber {
        font-family: 'renner';
      }

      span {
        position: absolute;
        background-color: #e7e4df;
        font-size: 14px;
        width: 27px;
        height: 29px;
        text-align: center;
        line-height: 2;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          color: #f16f23;
        }
      }

      .inputInc {
        top: 0;
        right: 0;
      }

      .inputDes {
        bottom: 0;
        right: 0;
      }
    }

    .btnBuy {
      border: none;
    }
  }

  .type {
    .typeDetail {
      font-family: 'renner';
      letter-spacing: 2px;
      font-size: 14px;
      color: #7e7e7e;

      b {
        color: #282828;
      }

      @include Responsive(S) {
        font-size: 12px;
      }
    }
  }
}
