@import 'assets/scss/mixin.module';

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f1ef;
    padding-top: 50px;
    padding-bottom: 350px;

    @include Responsive(XS) {
        padding-top: 0;
    }

    @include Responsive(XXS) {
        padding-bottom: 180px;
    }

    .place {
        text-align: center;

        .welcomePlace {
            font-family: "reforma",sans-serif;
            color: black;
            font-size: 3.556rem;
            font-weight: bold;
            font-style: normal;
            line-height: 1.45em;
            text-decoration: none;
            text-transform: none;
            letter-spacing: 0;
            width: 560px;
            margin: 1.60em auto 0.87em;

            @include Responsive(L) {
                font-size: 2.0rem;
                width: 360px;
            }

            @include Responsive(XS) {
                width: 300px;
                margin-top: 20px;
            }
        }

        .introduction {
            color: #2828286b;
            font-weight: bold;
            font-size: 16px;
            max-width: 75%;
            margin: 0 auto;

            @include Responsive(L) {
                font-size: 13px;
            }
        }

        .author {
            margin-top: 30px;
            margin-bottom: 30px;
            color: #f16f23;
            letter-spacing: 2px;
        }
    }
}