@import 'assets/scss/fonts.module';
@import 'assets/scss/mixin.module';
@import 'assets/scss/animation.module';

.pic {
  margin: 0;
}

.meta {
  background-color: #ffac4b;
  display: flex;
  padding: 30px 30px 30px 60px;
  column-gap: 90px;

  @include Responsive(M) {
    padding: 20px 20px 20px 40px;
  }

  @include Responsive(S) {
    flex-direction: column;
  }

  .time {
    text-transform: uppercase;
    font-family: 'renner';
    letter-spacing: 2px;
    font-size: 14px;
    margin: 10px 0;
    color: white;

    @include Responsive(M) {
      font-size: 12px;
      letter-spacing: 1px;
    }

    @include Responsive(S) {
      margin: 5px 0;
    }
  }
}

.content {
  font-family: 'renner';
  font-weight: 400;
  color: #7e7e7e;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 60px;

  @include Responsive(M) {
    font-size: 14px;

  }
}
